.LiveLinkButton {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 5px;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    padding: 5px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
  }
  
  .LiveLinkButton__icon-wrapper {
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .LiveLinkButton:hover {
    background-color: #000;
    transform: translate(0, -0.10rem);
  }
  
  .LiveLinkButton:hover .LiveLinkButton__icon-wrapper {
    color: #000;
  }
  
  .LiveLinkButton__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .LiveLinkButton:hover .LiveLinkButton__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);

  }
  
  .LiveLinkButton:hover .LiveLinkButton__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
  }
  